$icon-font-path: "../fonts/";
// bower:scss
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// endbower
$brand-primary: #61e0f3;
$brand-color: $brand-primary;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.navbar-citrus {
  background-color: $brand-primary;
  border-color: darken($brand-primary, 10%);
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  .navbar-toggle {
    border-color: transparent;
    float: left;
    margin-left: 15px;
    &:focus,&:hover {
      background-color: #fff;
      > .icon-bar {
        background-color: $brand-primary;
      }
    }
  }
  .navbar-collapse {
    border-color: darken($brand-primary,10%);
  }
  .navbar-brand {
    float: none;
    margin: 0 auto;
    color: #fff;
    display: inline-block;
  }
  .navbar-header {
    text-align: center;
  }
  .navbar-nav {
    > .active {
      > a, > a:hover, > a:focus {
        background-color: darken($brand-primary, 20%);
      }
    }
    > li {
      > a {
        color: #fff;
        &:hover, &:focus {
          background-color: darken($brand-primary, 10%);
        }
      }
    }
  }
}

.navbar-fixed-top {
  + div.main {
    margin-top: 60px;
  }
}

.btn-add-time {
  position: relative;
  float: right;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  @include button-variant(#fff, $brand-primary, #fff);
  @include button-size(2px 4px, 3px 5px, 10px, 12px, 5px);
}
