body {
  // padding-top: @navbar-height;
}

.toolbar {
    display: block;
    clear: both;
    with: 100%;
    float: none;
}

.navbar-citrus {
    position: relative;
    z-index: 1002;
    margin-bottom: 0;
    background-color: @brand-primary;
    .navbar-nav {
        &> li {
            &> a {
                color: #fff;
            }
        }

        &> .active {
            &> a,
            &> a:hover,
            &> a:focus {
                color: #fff;
                background-color: darken(@brand-primary, 20%);
            }
        }
    }

    .navbar-toggle {
        border-color: darken(@brand-primary, 20%);
        .icon-bar {
            background-color: #fff;
        }
    }

    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: darken(@brand-primary, 20%);
    }

    .navbar-collapse, .navbar-form {
        border-color: darken(@brand-primary, 20%);
    }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
}

.nav.navbar-vertical {
    > li {
        > div {
            &:extend(.nav > li > a);
        }
    }
}

@colors: #32aa34,#2af3ff,#dc0300,#fb9fa3,#3da3ff,#f28200,#92f0ff,#ddac00,#8b000f,#d3ff00;

.project-color {
    .-(@i: length(@colors)) when (@i > 0) {
        @num: @i - 1;
        @bgcolor: extract(@colors, @i);
        &-@{num} {
            background-color: @bgcolor;
            & when (lightness(@bgcolor) < 60%) {
                color: #fff;
            }
            & when (lightness(@bgcolor) > 60%) {
                color: darken(@bgcolor,60%);
            }
        }
        .-((@i - 1));
    } .-;
}

.d3 {
    display: block;
    text-align: center;
}

.donut-chart {
    svg {
        max-width: 50%;
        height: auto;
        @media (min-width: @screen-md) {
            max-width: 25%;
        }
    }
}

.collapse {
    display: none;
}

.navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    margin-right: 15px;
    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 15px;
        margin: auto auto;
        max-width: 100%;
        height: auto;
    }
}

.btn-group {
    margin: 20px 0;
    width: 100%;
    .btn {
        width: 10%;
        &:nth-child(2) {
            width: 80%
        }

        .glyphicon-chevron-left {
            left: -6px;
        }
        .glyphicon-chevron-right {
            right: 6px;
        }
    }
}

.timeEntries {
    margin-top: 20px;
    li {
        font-size: 18px;
        padding: 0 0 10px;
        &:hover {
            cursor: pointer;
        }
    }
}

.comment-input {
    padding-top: 20px;
    input {
        font-size: 18px;
    }
}
