<h2>{{ pageTitle }}</h2>

<div class="toolbar">
	<div class="pull-right">
		<button class="btn btn-success btn-sm" ng-click="saveRecord()"><span class="glyphicon glyphicon-save"></span> Save</button>
		<a class="btn btn-default btn-sm" href="#lines"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 form-group">
		<label for="name">Project Name:</label>
		<input type="text" name="name" id="name" ng-model="project.Name" class="form-control"  />
	</div>
</div>
