<h2>{{ pageTitle }}</h2>

<div class="toolbar">
	<a class="btn btn-default btn-md" ng-href="#project/add"><span class="glyphicon glyphicon-plus"></span> Create Project</a>
</div>

<div class="data">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Project Name</th>
				<th width="100"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in projects">
				<td ng-bind="project.Name"></td>
				<td>
					<a class="btn btn-default btn-sm" ng-href="#project/edit/{{project.ProjectId}}"><span class="glyphicon glyphicon-pencil"></span></a>
					&nbsp;
					<button type="button" class="btn btn-danger btn-sm" ng-click="deleteRecord($index)"><span class="glyphicon glyphicon-remove"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
