<h2>{{ pageTitle }}</h2>

<div class="toolbar">
	<a class="btn btn-default btn-md" ng-href="#project/add"><span class="glyphicon glyphicon-plus"></span> Create Project</a>
</div>

<ul class="nav navbar-vertical">
	<li ng-repeat="project in projects">
		<div>
			{{project.Name}}
			<div class="pull-right">
				<a class="btn btn-default btn-sm" ng-href="#project/edit/{{project.ProjectId}}"><span class="glyphicon glyphicon-pencil"></span></a>
				&nbsp;
				<button type="button" class="btn btn-danger btn-sm" ng-click="deleteRecord($index)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
	</li>
</ul>
