<h3 class="view-title">Login</h3>
<form ng-submit="login(credentials)" method="post" novalidate form-autofill-fix>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" ng-model="credentials.username" class="form-control"  />
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" ng-model="credentials.password" class="form-control" />
  </div>
  <div class="row">
      <div class="col-xs-6">
          <button type="submit" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span> Login</button>
      </div>
      <div class="col-xs-6">
          <a class="btn btn-default btn-lg btn-block" ng-href="#/signup">
              <span class="glyphicon glyphicon-arrow-right"></span> Sign Up
          </a>
      </div>
  </div>
</form>
