<h2>{{ pageTitle }}</h2>

<div class="toolbar">
    <a class="btn btn-default btn-md" ng-href="#time/add/{{timeEntryDate | aDate : 'M-d-y'}}"><span class="glyphicon glyphicon-plus"></span> Add Time</a>
</div>
<br />
<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="previousDate()"><span class="glyphicon glyphicon-chevron-left"></span></button>
    <button class="btn btn-default">{{ timeEntryDate | aDate : 'EEEE, MMMM doo, y' }}</button>
    <button type="button" class="btn btn-default" ng-click="nextDate()"><span class="glyphicon glyphicon-chevron-right"></span></button>
</div>

<d3-donut data="projectTotalsForDay" label="name" bar-color="color" class="row d3 donut-chart"></d3-donut>

<ul class="timeEntries nav navbar-vertical">
    <li ng-repeat="entry in timeEntries" ng-click="editEntry(entry)">
        <div class="col-xs-9">
            <span ng-bind="entry.Comment"></span>
        </div>
        <div class="col-xs-3 {{entry.ProjectColorClass}}">
            <span ng-bind="entry.Hours"></span>
        </div>
    </li>
</ul>
