<h2>{{ pageTitle }}</h2>
<h3>{{ timeEntryDate | aDate : 'EEEE, MMMM doo, y' }}</h3>

<div class="toolbar row">
	<div class="pull-right">
		<button class="btn btn-success btn-sm" ng-click="saveRecord()"><span class="glyphicon glyphicon-save"></span> Save</button>
		<a class="btn btn-default btn-sm" href="#time"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
	</div>
</div>

<div class="row">
	<div class="col-sm-3 form-group">
		<label for="name">Time:</label>
		<input type="text" name="time" id="time" ng-model="entry.Hours" class="form-control"  />
	</div>
	<div class="col-sm-3 form-group">
		<label for="name">Project:</label>
		<select name="projectId" class="form-control" ng-model="entry.Project" ng-options="projects.Name for projects in availableProjects">
			<option value="">--Select One--</option>
		</select>
	</div>
	<div class="col-sm-6 form-group">
		<label for="comment">Comment:</label>
		<comment hashitems="availableProjects" atitems="availableContexts" prompt="What did you do today?" title="Name" model="entry.Comment" selected-hash-items="selectedProjects" selected-at-items="selectedContexts" />
	</div>
</div>
