<h2>{{ pageTitle }}</h2>

<div class="toolbar">
    <a class="btn btn-default btn-md" ng-href="#time/add"><span class="glyphicon glyphicon-plus"></span> Add Time</a>
</div>
<br />
<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="previousDate()"><span class="glyphicon glyphicon-chevron-left"></span></button>
    <button class="btn btn-default">{{ timeEntryDate | aDate : 'EEEE, MMMM doo, y' }}</button>
    <button type="button" class="btn btn-default" ng-click="nextDate()"><span class="glyphicon glyphicon-chevron-right"></span></button>
</div>

<ul class="timeEntries">
    <li ng-repeat="entry in timeEntries">
        <span ng-bind="entry.time"></span>
        <span ng-bind="entry.details"></span>
    </li>
</ul>
