<nav class="navbar navbar-default navbar-citrus navbar-static-top" role="navigation" ng-controller="NavCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/images/flik-logo-small.png" alt="{{ appTitle }}"></a>
    </div>
    <div class="collapse navbar-collapse" collapse="isCollapsed" id="main-nav">
      <ul class="nav navbar-nav">
        <li ng-class="{active:isActive(['home'])}" data-toggle="collapse" data-target="#main-nav"><a href="#" ng-click="isCollapsed = !isCollapsed">Home</a></li>
        <li ng-class="{active:isActive(['login'])}" data-toggle="collapse" data-target="#main-nav" ng-show="loggedUser"><a href="#logout" ng-click="isCollapsed = !isCollapsed">Log Out</a></li>
        <li ng-class="{active:isActive(['login'])}" data-toggle="collapse" data-target="#main-nav" ng-hide="loggedUser"><a href="#login" ng-hide="app.LoggedIn" ng-click="isCollapsed = !isCollapsed">Login</a></li>
        <li ng-class="{active:isActive(['signup'])}" data-toggle="collapse" data-target="#main-nav" ng-hide="loggedUser"><a href="#signup" ng-click="isCollapsed = !isCollapsed">Sign Up</a></li>
    </ul>

	<ul class="nav navbar-nav navbar-right">
        <li ng-class="{active:isActive(['projects','project'])}"><a ng-show="loggedUser" href="#projects" ng-click="isCollapsed = !isCollapsed"><span class="sr-only">Projects</span><span class="glyphicon glyphicon-briefcase"></span></a></li>
		<li ng-class="{active:isActive(['time'])}"><a ng-show="loggedUser" href="#time" ng-click="isCollapsed = !isCollapsed"><span class="sr-only">Add Time</span><span class="glyphicon glyphicon-time"></span></a></li>
	</ul>
    </div>
  </div>
</nav>
